@import 'materialize-src/sass/materialize.scss';
@import '_bases.scss';
@import '_variables.scss';
@import '_reset.scss';

body{
	font-family:$roboto;
}
nav{
	background-color:#2F1F1F;

}
#lista-nav{
	li{
		a{
			font-size:12px;
		}
	}
}
#lista-nav{
	li{
		a:hover{
			color:#FADCA6;
		}
	}
}
#lista-nav li:last-child{
	margin-right: 539px;
}
#primera{
	background-color:#E9E0B7;
    padding-bottom: 15px;
    border-bottom:2px solid lightgray;
}
.slider{
	ul{
		li{
			img{
				border-bottom:1px solid black;
			}
		}
	}
}
.slider .indicators{
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0px 0 58px 0;
    z-index: 1000;
}
.slider .indicators .indicator-item.active{
	background-color:transparent;
	border:1px solid #fff;
}
#round-img{
	margin-top: -121px;
    position: relative;
    z-index: 100;
	div{
		div{
			img{
				border:10px solid #DBBE86;
			}
		}
		div{
			h4{
				font-size:17px;
				text-transform: uppercase;
				color:#343434;
			}
			p{
    			font-size: 14px;
    			padding: 0px 20px;
			}
			a{
				font-size:11px;
				background-color:#DBBE86;
				color:black;
				text-transform: uppercase;
			}
		}
	}
}
#segunda{
    background-color: #F4F4F4;
    padding-top: 45px;
	div{
		div{
			img{
				border-radius:5%;
				border-radius: 5%;
    			width: 380px;
			}
		}
		div{
			div{
				h5{
	    			text-align: center;
	    			color: #DB6B5D;
	    			text-transform: uppercase;
	    			padding-bottom: 12px;
				}
				p{
				font-size: 13px;
	    		padding-right: 102px;
	    		padding-bottom:10px;
				}
				ul{
					li{
					padding-top:10px;
					font-size: 13px;
					}
				}
			}
		}
	}
}
#tercera{
	background-color:#4A3A3A;
}
#card1{
	font-family:$roboto;
	h3{
    	color: #FAD483;
    	text-transform: uppercase;
    	text-align: right;
    	font-size: 25px;
    	padding: 36px 0 0;
	}
	hr{
    	margin-bottom: 30px;
    	margin-left: 340px;
	}
	div{
		p{
			color: #FAD483;
			font-size:13px;
			text-align:right;
			img{
				float:left;
				border-radius:5%;
				margin-left: 122px;
			}
		}
	}
}
#card2{
	font-family:$roboto;
	h3{
    	color: #FAD483;
    	text-transform: uppercase;
    	text-align: left;
    	font-size: 25px;
    	padding: 36px 0 0;
	}
	hr{
    	margin-bottom: 30px;
    	margin-right: 340px;
	}
	div{
		p{
			color: #FAD483;
			font-size:13px;
			text-align:left;
			img{
				float:right;
				border-radius:5%;
				margin-right: 118px;
			}
		}
	}
}